*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

.container{
    width: 90%;
    margin: auto;
    max-width: 1224px;

    > h3{
        margin-top: 40px;
        margin-bottom: 25px;
    }
}

.employeesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 2em;
    row-gap: 2em;
}

.employee{
    display: flex;
    padding: 1.5em 2em;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;

    .userImg{
        width: 32%;
        min-width: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .userImg img{
        width: 100%;
        border-radius: 50%;
    }

    .contentEmployeeCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1.3em;
        gap: 7px;
        overflow: hidden;
        width: max-content;

        h3{
            color: black;
        }

        p{
            color: grey;
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }
}

#filter{
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 0px 10px 12px;
    width: 200px;
    outline: none;
}

/*********************************************************************************************/

/*OVERLAY*/

.open{
    display: flex;
}

.overlay{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background:rgba(0,0,0,0.5)
}

.modalCard{
    width: max-content;
    margin-top: 13%;
    max-width: 400px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 2em;
    padding-bottom: 3em;
    border-radius: 8px;
    
    > div > span{
        margin-left: 90%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    } 

    .imgCard{
        width: 100%;
        img{
            width: 50%;
            border-radius: 50%
        };
    }

    .contentCard{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    hr{
        margin: 1.7em 0 1.7em 0;
    }
}

.close{
    display: none;
}


@media screen and (min-width: 768px){

    .employeesContainer{
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    }

    .modalCard{
        width: 35%;
    }

}

